.bmx
*.app/
*x86.a
*.x86.i
*x64.a
*.x64.i
*.bak
*.arm.a
*.arm.i
*.armeabi.a
*.armeabi.i
*.armeabiv7a.a
*.armeabiv7a.i
*.arm64v8a.a
*.arm64v8a.i
*.js.a
*.js.i
*.arm64.a
*.arm64.i
*.armv7.a
*.armv7.i
*.ios.dev.a
*.i2
